.container{
    width: 70%;
    margin: auto;
    text-align: center;
    
}
body{
    background-color:  #393E46;
}
.dice{
    text-align: center;
    display: inline-block;
    margin: 20px;
}
h1{
    margin: 30px;
    text-shadow: 5px 0 #232931;
    color: #4ECCA3;
    font-size: 8rem;;

}
img{
    width: 100%;
}
p{
    font-size: 2rem;
    color: #4ECCA3;
}
footer{
    font-size: 1rem;
    text-align: center;
    margin-top: 150px;
    color: white;
}